body {
  color: #333;
  font-family: 'Din_Regular',Sans-Serif;
  font-size: 14px;
  line-height: 1.42857;
}

bodys .helvetica {
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, a, p {
  padding-top: 10px;
}


body.back-home {
  background-color: transparent;
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#back-content {
  background-color: #fff !important;
  background-image: none;
}

.form-control::-moz-placeholder {
  color: #fff;
}
.form-control {
  padding: 15px 12px 5px;
  background-color: transparent;
  border-radius: 0px;
  border: 2px solid #fff;
  color: #fff;
}

.form-header {
  background-color: #fff;
  height: 48px;
  text-align: right;
  color: #70767B;
  padding-top: 14px; 
}

.form-title {
  margin: -7px 0 0 0;
  font-weight: 800; 
  letter-spacing: -1px;
}

.send {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  padding: 20px 15px 15px;
}

.btn {
  padding: 10px 12px 1px;
}



.hold {
  margin-bottom: 50px;
}

.container-fluid {
  height: 100px;
  margin: 0 auto;
}

.copyhome {
  padding-left: 50px;
  padding-top: 30px;
}

.copyhome h2 {
  margin-top: 0px;
  font-size: 70px;
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
}

.copyhome p {
  color: rgb(255, 255, 255);
  font-size: 36px;
  letter-spacing: 2px;
  margin-top: -20px;
  line-height: 1.15;
  margin-bottom: 6px;
  font-weight: 100;
}

.formhome {
  border: 2px solid #fff;
  padding: 15px 15px 0px 15px;
  margin-top: 52px;
}

.navbar {
  border-radius: 0px;
}

.navbar-default {
  border: none !important;
}

.contacto {
  font-size: 100px;
  font-weight: bolder;
  color: #7e7171;
}

.codi {
  font-size: 43px;
  font-weight: bold;
  margin-top: -30px;
  color: #7e7171;
}

.formulario-contactenos {
  margin: 50px 0 0 0;
}


/*FOOTER*/

.contact {
  padding: 20px 30px;
}

.contact h3 {
  text-align: left;
  font-size: 25px;
  color: #70767B;
  margin-bottom: 0px;
}

.contact img {
  margin-top: 23px;
}

.contact p {
  color: #70767B;
  padding-top: 0px;
}

.backfooter {
  background-color: #fff;
  border-radius: 0px;
  color: #fff;
}

#back-content .contact p {
  color: #fff;
}

#back-content .contact h3 {
  color: #fff;
}

#back-content .backfooter{
background-color: #70767B;	
}

.ico-map {
  background-image: url(../img/icono-grey-map.png);
  width: 50px;
  height: 50px;
  margin-top: 23px;
  float: left;	
}
#back-content .contact .ico-map {
  background-image: url(../img/icono-white-map.png);
}
.ico-tel{
  background-image: url(../img/icono-grey-telephone.png);	
  width: 50px;
  height: 50px;
  margin-top: 23px;
  float: left;
}
#back-content .contact .ico-tel {
  background-image: url(../img/icono-white-telephone.png);
}

.ico-envelop {
  background-image: url(../img/icono-grey-envelop.png);
  width: 50px;
  height: 50px;
  margin-top: 23px;
  float: left;
}

#back-content .contact .ico-envelop {
  background-image: url(../img/icono-white-envelop.png);
}

.feature-contents {
  padding-left: 70px;
  padding-right: 10px;
}


.copyright {
  margin-top: 20px;
}

.copyright p {
  text-align: center;
  color: #fff;
}

#back-content .copyright p {
  color: #70767B;
}

span {
  text-align: center;
  background-color: #6b797f;
  color: #fff;
  padding: 3px;
  margin: 0 3px 0 0;
  text-align: center;
  font-size: 25px;
}

/*REDES*/

#back-content .social-bar  {
	margin-top: -23px; 
	margin-bottom: 40px;
}

.ico-social {
	width: 40px;
	height: 40px;
	margin-right: 10px; 
	margin-left: 10px;
}
.search {
	float: left; 
	padding-top: 5px; 
	color: #fff;
}

.search input{
	border: none; 
	width: 90px;
}
.ico-search {
  background-image: url(../img/icono-search-white.png);
  float: right;
}

.ico-face {
  background-image: url(../img/icono-face-white.png);
}

.ico-tw {
  background-image: url(../img/icono-tw-white.png);
}

.ico-ins {
  background-image: url(../img/icono-ins-white.png);
}

.social-bar ul {
  border: 2px solid #fff;
  padding: 10px 0px 0px 0px; 
  margin-bottom: 0px;
  margin-top: -200px;
}

.social-bar ul > li {
  border-right: 1px solid #fff;
  list-style: none;
  display: inline-block;
}

.social-bar ul > li + li + li + li {
  border-right: none;
}

#back-content .ico-search {
  background-image: url(../img/icono-search-gray.png);
}

#back-content .ico-face {
  background-image: url(../img/icono-face-gray.png);
}

#back-content .ico-tw {
  background-image: url(../img/icono-tw-gray.png);
}

#back-content .ico-ins {
  background-image: url(../img/icono-ins-gray.png);
}

#back-content ul {
  border: 2px solid #70767B;
  padding: 10px 5px 0px; 
  margin-bottom: 0px;
  margin-top: 0px;
}

#back-content ul > li {
  border-right: 1px solid #70767B;
  list-style: none;
  display: inline-block;
}

#back-content ul > li + li + li + li {
  border-right: none;
}

#back-content .search {
	float: left; 
	padding-top: 5px; 
	color: #70767B;
}

#back-content .search input {
	border: none; 
	width: 90px;
	color: #70767B;
}
#back-content .form-control::-moz-placeholder{
	color: #70767B;
}

#back-content .form-control {
  padding: 15px 12px 5px;
  background-color: transparent;
  border-radius: 0px;
  border: 2px solid #70767B;
  color: #70767B;
}

#back-content .form-header {
  background-color: #70767B;
  height: 48px;
  text-align: right;
  color: #FFF;
  padding-top: 14px; 
}

#back-content .form-title {
  margin: -7px 0 0 0;
  font-weight: 800; 
  letter-spacing: -1px;
}

#back-content .formhome {
  border: 2px solid #70767B;
  padding: 15px 15px 0px 15px;
  margin-top: 52px;
}