@media only screen and (min-width: 1024px) and (max-width: 1399px) {
 .copyhome {
  padding-left: 50px;
  padding-top: 30px;
}

 .social-bar ul {
 margin-top: -200px;
}
  .container-fluid {
  height: 100px;
  margin: 0 auto;
}
  .content-info {
    margin-top: 60px;
  }

  .collapse {
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 28px;
  }

  #back-content .collapse {
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 0px;
  }

  .headers ul.nav li a {
    padding-top: 26px;
    padding-bottom: 15px;
    color: #111;
  }

  #back-content .headers ul.nav li a {
    padding-top: 45px;
    padding-bottom: 34px;
    color: #fff;
  }

  .headers ul {
    padding: 0px 63px;
    background-color: #fff;
  }

  .social-bar ul {
    margin-top: -330px;
  }

  #back-content .headers ul {
    background-color: inherit;
    margin-top: 0px;
  }

  .logohome {
    margin-left: 0px;
    margin-top: -40px;
    float: left;
  }

  .logohome img {
    margin-bottom: -39px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1023px) {
  .container-fluid {
  height: 100px;
  margin: 0 auto;
}
  .title-info {
    padding-left: 55px;
  }

  .content-info {
    margin-top: 60px;
  }
}

@media only screen and (width: 980px) {
.logohome img {
    margin-right: auto;
	margin-left: auto;
  }
  
  .container-fluid {
  height: 100px;
  margin: 0 auto;
}
  .content-info {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .social-bar ul {
margin-top: -326px; 
margin-right: 14%; 
margin-left: 14%;
  }
  .headers ul {
    padding: 0px 113px;
    background-color: #fff;
  }
  
  .headers ul.nav li a {
    padding-top: 26px;
    padding-bottom: 15px;
    color: #111;
  }
  .search input {
	width: 260px;
  }
  #back-content .headers ul {
    background-color: inherit;
    margin-top: 0px;
  }
   #back-content .headers ul.nav li a {
    padding-top: 45px;
    padding-bottom: 34px;
    color: #fff;
  }
  .copyhome {
    text-align: center;
  }

}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .logohome img {
    margin-right: auto;
	margin-left: auto;
  }
  
  .container-fluid {
  height: 100px;
  margin: 0 auto;
}
  .content-info {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .social-bar ul {
margin-top: -326px; 
margin-right: 14%; 
margin-left: 14%;
  }
  .headers ul {
    padding: 0px 113px;
    background-color: #fff;
  }
  
  .headers ul.nav li a {
    padding-top: 26px;
    padding-bottom: 15px;
    color: #111;
  }
  .search input {
	width: 260px;
  }
  #back-content .headers ul {
    background-color: inherit;
    margin-top: 0px;
  }
   #back-content .headers ul.nav li a {
    padding-top: 45px;
    padding-bottom: 34px;
    color: #fff;
  }
  .copyhome {
    text-align: center;
  }

}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  
  
  .search input {
    border: 1px solid #fff;
	width: 192px;
    float: left;
    margin-top: -2px;
  }
  .social-bar ul > li {
    border-right: medium none !important;
    display: inline-block;
    list-style: outside none none;
  }
  
  .navbar-default {
    background-color: #70767B;
    border-color: #60656A;
}


  
  .headers ul {
    padding: 0px 63px;
    background-color: #fff;
  }
  .logohome img {
    margin-right: auto;
	margin-left: auto;
  }
  


  .content-info {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  
  .headers ul {
    padding: 0px 113px;
    background-color: #fff;
  }
  
  .headers ul.nav li a {
    padding-top: 26px;
    padding-bottom: 15px;
    color: #111;
  }
  .search input {
	width: 260px;
  }
  #back-content .headers ul {
    background-color: inherit;
    margin-top: 0px;
  }
   #back-content .headers ul.nav li a {
    padding-top: 45px;
    padding-bottom: 34px;
    color: #fff;
  }
  .copyhome {
    text-align: center;
  }
  

	
}

@media only screen and (min-width: 568px) and (max-width: 639px) {
  .copyhome {
    padding-left: 0px;
    padding-top: 0px;
  }

  .copyhome h2 {
    font-size: 45px;
  }

  .copyhome p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: -16px;
    line-height: 1.15;
    margin-bottom: -14px;
    font-weight: 100;
  }

  .formhome {
    margin-top: 5px;
  }

  .social-bar ul {
    border: 2px solid #fff;
    padding: 10px 0px 0px 20px;
    margin-bottom: 0px;
    margin-top: -256px;
  }

  .title-info h1 {
    font-size: 110px;
    line-height: 0.4;
  }

  .title-info span {
    font-size: 45px;
    line-height: 0.4;
  }

  .contacto {
    font-size: 52px;
    font-weight: bolder;
    color: #7e7171;
  }

  .codi {
    font-size: 34px;
    font-weight: bold;
    margin-top: -30px;
    color: #7e7171;
  }
}

@media only screen and (min-width: 480px) and (max-width: 567px) {
  .copyhome {
    padding-left: 0px;
    padding-top: 0px;
    text-align: center;
  }

  .copyhome h2 {
    font-size: 45px;
  }

  .copyhome p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: -16px;
    line-height: 1.15;
    margin-bottom: -14px;
    font-weight: 100;
  }

  .formhome {
    margin-top: 5px;
  }

  .social-bar ul {
    border: 2px solid #fff;
    padding: 10px 0px 0px 20px;
    margin-bottom: 0px;
    margin-top: -256px;
  }

  .title-info h1 {
    font-size: 110px;
    line-height: 0.4;
  }

  .title-info span {
    font-size: 45px;
    line-height: 0.4;
  }

  .contacto {
    font-size: 52px;
    font-weight: bolder;
    color: #7e7171;
  }

  .codi {
    font-size: 34px;
    font-weight: bold;
    margin-top: -30px;
    color: #7e7171;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .navbar-default {
    background-color: #70767B;
    border-color: #60656A;
}

  .copyhome {
    padding-left: 0px;
    padding-top: 0px;
    text-align: center;
  }

  .copyhome h2 {
    font-size: 45px;
    margin-top: 10px;
  }

  .copyhome p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: -16px;
    line-height: 1.15;
    margin-bottom: -14px;
    font-weight: 100;
  }

  .search {
    float: none;
    padding-top: 2px;
    color: #fff;
  }

  #back-content .formhome {
    margin-top: 3px;
  }

  .title-info h1 {
    font-size: 121px;
    line-height: 0.4;
  }

  .title-info span {
    font-size: 48px;
    line-height: 0.4;
    padding-left: 11px;
  }

  .content-info {
    margin-bottom: 30px;
  }

  .formhome .col-xs-12 {
    padding-bottom: 10px;
  }
 .formhome {
  margin-top: 3px;
  }
  .codi {
    font-size: 34px;
    font-weight: bold;
    margin-top: -30px;
    color: #7e7171;
  }

  .contacto {
    font-size: 52px;
    font-weight: bolder;
    color: #7e7171;
  }

  .search input {
    border: 1px solid #fff;
	width: 192px;
    float: left;
    margin-top: -2px;
  }
  

#back-content .social-bar ul > li {
    border-right: medium none !important;
    display: inline-block;
    list-style: outside none none;
  }
#back-content .search input {
    border: 1px solid #7e7171;
	width: 192px;
    float: left;
    margin-top: -2px;
  }

  .social-bar ul > li {
    border-right: medium none !important;
    display: inline-block;
    list-style: outside none none;
  }


}

@media only screen and (min-width: 240px) and (max-width: 319px) {
	.navbar-default {
    background-color: #70767B;
    border-color: #60656A;
}	
	
  .copyhome {
    padding-left: 0px;
    padding-top: 0px;
    text-align: center;
  }

  .copyhome h2 {
    font-size: 45px;
  }

  .copyhome p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: -16px;
    line-height: 1.15;
    margin-bottom: -14px;
    font-weight: 100;
  }

  .title-info h1 {
    font-size: 121px;
    line-height: 0.4;
  }

  .title-info span {
    font-size: 48px;
    line-height: 0.4;
    padding-left: 11px;
  }

  .search {
    float: none;
    padding-top: 2px;
    color: #fff;
  }

  .ico-search {
    background-image: url(../img/icono-search-white.png);
    float: none;
  }

  .social-bar ul {
    border: none;
    padding: 5px 0px 0px 2px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .search input {
    border: 1px solid #fff;
    ; 
	  width: 100px;
    float: left;
    margin-right: 10px;
  }

  #back-content .formhome {
    margin-top: 3px;
  }

  .content-info {
    margin-bottom: 30px;
  }

  .contacto {
    font-size: 52px;
    font-weight: bolder;
    color: #7e7171;
  }

  .codi {
    font-size: 34px;
    font-weight: bold;
    margin-top: -30px;
    color: #7e7171;
  }
  body.back-home {
  background-position: center bottom;
}
}

