@import url(./css/owl.theme.css);
@import url(./css/owl.carousel.css);
@import url(./css/owl.transitions.css);
@import url(./css/ekko-lightbox.css);

/*==========================================================
    1. MAIN CODIEMPAQUES
==========================================================*/
body {
  color: color: #889196;
  font-family: 'Din_Regular',Sans-Serif;
  font-size: 14px;
  line-height: 1;
}

bodys .helvetica {
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, a, p {
  padding-top: 10px;
}


body.back-home {
  background-color: transparent;
  background-image: url(./img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.wrap-content {
	padding-bottom: 30px; 
	padding-top: 30px;
}
#back-content {
  background-color: #fff !important;
  background-image: none;
}


#back-content .headers a.navbar-brand {
display: block;
}
.headers a.navbar-brand {
display: none;
}


#back-content .headers ul.nav {
margin-top: 30px;
margin-left: 150px;
}

.headers ul.nav {
margin-top: 30px;
margin-left: 450px;
}

.headers ul.nav li {
padding-top: 23px;
}

#back-content .headers ul.nav li {
padding-top: 0px;
}

#back-content .logohome {
	display: none;
}

.logohome {
	margin-left: 0px; 
	padding-left: 56px; 
	margin-top: -40px;
	float: left;
}

.navbar-default {
	background-color: inherit;
}

#back-content .navbar-default {
background-color: #70767B;
}
.form-control::-moz-placeholder {
  color: #fff;
}
.form-control {
  padding: 15px 12px 5px;
  background-color: transparent;
  border-radius: 0px;
  border: 2px solid #fff;
  color: #fff;
}

.form-header {
  background-color: #fff;
  height: 48px;
  text-align: right;
  color: #70767B;
  padding-top: 14px; 
}

.form-title {
  margin: -7px 0 0 0;
  font-weight: 800; 
  letter-spacing: -1px;
}
.send {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  padding: 20px 15px 15px;
}

.btn {
  padding: 10px 12px 1px;
}



.hold {
  margin-bottom: 50px;
}

.container-fluid {
  height: 100px;
  margin: 0 auto;
}

.copyhome {
  padding-left: 50px;
  padding-top: 30px;
}

.copyhome h2 {
  margin-top: 0px;
  font-size: 70px;
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
}

.copyhome p {
  color: rgb(255, 255, 255);
  font-size: 36px;
  letter-spacing: 2px;
  margin-top: -20px;
  line-height: 1.15;
  margin-bottom: 6px;
  font-weight: 100;
}

.formhome {
  border: 2px solid #fff;
  padding: 15px 15px 0px 15px;
  margin-top: 52px;
}

.navbar {
  border-radius: 0px;
}

.navbar-default {
  border: none !important;
}

.contacto {
  font-size: 100px;
  font-weight: bolder;
  color: #7e7171;
}

.codi {
  font-size: 43px;
  font-weight: bold;
  margin-top: -30px;
  color: #7e7171;
}

.formulario-contactenos {
  margin: 50px 0 0 0;
}


/*FOOTER*/

.contact {
  padding: 20px 30px;
}

.contact h3 {
  text-align: left;
  font-size: 25px;
  color: #70767B;
  margin-bottom: 0px;
}

.contact img {
  margin-top: 23px;
}

.contact p {
  color: #70767B;
  padding-top: 0px;
}

.backfooter {
  background-color: #fff;
  border-radius: 0px;
  color: #fff;
}

#back-content .contact p {
  color: #fff;
}

#back-content .contact h3 {
  color: #fff;
}

#back-content .backfooter{
background-color: #70767B;	
}

.ico-map {
  background-image: url(./img/icono-grey-map.png);
  width: 50px;
  height: 50px;
  margin-top: 23px;
  float: left;	
}
#back-content .contact .ico-map {
  background-image: url(./img/icono-white-map.png);
}
.ico-tel{
  background-image: url(./img/icono-grey-telephone.png);	
  width: 50px;
  height: 50px;
  margin-top: 23px;
  float: left;
}
#back-content .contact .ico-tel {
  background-image: url(./img/icono-white-telephone.png);
}

.ico-envelop {
  background-image: url(./img/icono-grey-envelop.png);
  width: 50px;
  height: 50px;
  margin-top: 23px;
  float: left;
}

#back-content .contact .ico-envelop {
  background-image: url(./img/icono-white-envelop.png);
}

.feature-contents {
  padding-left: 70px;
  padding-right: 10px;
}


.copyright {
  margin-top: 20px;
}

.copyright p {
  text-align: center;
  color: #fff;
}

#back-content .copyright p {
  color: #70767B;
}

/*REDES*/

#back-content .social-bar  {
	margin-top: -23px; 
	margin-bottom: 40px;
}

.ico-social {
	width: 40px;
	height: 40px;
	margin-right: 10px; 
	margin-left: 10px;
}
.search {
	float: left;
	padding-top: 2px; 
	color: #fff;
}
.search input{
border: 1px solid #fff;; 
width: 95px;
float: left;
margin-top: -2px;
}
.ico-search {
  background-image: url(./img/icono-search-white.png);
  float: right;
  margin-top: -6px;
}

.ico-face {
  background-image: url(./img/icono-face-white.png);
}

.ico-tw {
  background-image: url(./img/icono-tw-white.png);
}

.ico-ins {
  background-image: url(./img/icono-ins-white.png);
}

.social-bar ul {
  border: 2px solid #fff;
  padding: 10px 0px 0px 4px; 
  margin-bottom: 0px;
  margin-top: -200px;
}

.social-bar ul > li {
  border-right: 1px solid #fff;
  list-style: none;
  display: inline-block;
}

.social-bar ul > li + li + li + li {
  border-right: none;
}

#back-content .ico-search {
  background-image: url(./img/icono-search-gray.png);
}

#back-content .ico-face {
  background-image: url(./img/icono-face-gray.png);
}

#back-content .ico-tw {
  background-image: url(./img/icono-tw-gray.png);
}

#back-content .ico-ins {
  background-image: url(./img/icono-ins-gray.png);
}

#back-content section.social-bar ul {
  border: 2px solid #70767B;
  padding: 10px 5px 0px; 
  margin-bottom: 0px;
  margin-top: 0px;
}

#back-content section.social-bar ul > li {
  border-right: 1px solid #70767B;
  list-style: none;
  display: inline-block;
}

#back-content section.social-bar ul > li + li + li + li {
  border-right: none;
}

#back-content .search {
 
	float: left; 
	padding-top: 5px; 
	color: #70767B;
}

#back-content .search input {
	border: 1px solid #70767B;
	width: 90px;
	color: #70767B;
}
#back-content .form-control::-moz-placeholder{
	color: #70767B;
}

#back-content .form-control {
  padding: 15px 12px 5px;
  background-color: transparent;
  border-radius: 0px;
  border: 2px solid #70767B;
  color: #70767B;
}

#back-content .form-header {
  background-color: #70767B;
  height: 48px;
  text-align: right;
  color: #FFF;
  padding-top: 14px; 
}

#back-content .form-title {
  margin: -7px 0 0 0;
  font-weight: 800; 
  letter-spacing: -1px;
}

#back-content .formhome {
  border: 2px solid #70767B;
  padding: 15px 15px 0px 15px;
  margin-top: 52px;
}

.ico-send {
	background-image: url(./img/icono-white-plane.png);
	width: 45px;
	height: 47px;
	margin-top: 16px;
}

.ico-send:hover {
	background-image: url(./img/icono-gray-plane.png);
}
#back-content .ico-send{
	background-image: url(./img/icono-gray-plane.png);
}
#back-content .ico-send:hover{
	background-image: url(./img/icono-whitehover-plane.png);
}
.ico-form-title {
	background-image: url(./img/icono-cuadro-gray.png);
	width: 57px;
	height: 21px;
}
#back-content .ico-form-title {
	background-image: url(./img/icono-cuadro-white.png);
	width: 57px;
	height: 21px;
	
}

.content-info {
	font-size: 18px;
}

.content-info h3 {
  color: #7E7171;
}
.title-info {
font-weight: 800;
  color: #7E7171;
  
  padding-top: 80px;
  text-align: left;
}
.title-info h1{
  font-size: 130px;
  line-height: 0.4;
}

.title-info span{
  font-size: 54px;
  line-height: 0.4;
}

.error {
	margin-top: 10px;
}

/*==========================================================
    2. PORTFOLIO STYLES
==========================================================*/
/* Portfolio wrap*/
.port-wrap {
    padding: 0;
    margin: 0;
    max-width: 1170px;
    margin: 0 auto;
    transition: all ease-in-out .6s;
    -moz-transition: all ease-in-out .6s;
    -ms-transition: all ease-in-out .6s;
    -o-transition: all ease-in-out .6s;
    -webkit-transition: all ease-in-out .6s;
}
/* clear fix */
.port-wrap:after {
    content: '';
    display: block;
    clear: both;
}
/* ---- .port-item ---- */
.port-item {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    width: 25%;
}
.port-item > * {
    margin: 0;
    padding: 0;
}
/* portfolio item style */
.p-item {
    width: 100%;
    height: 100%;
}
.p-item .pthumb {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 3px 3px 0 0;
}
.p-item .pthumb h3 {
    position: absolute;
    top: 50%;
    height: 30px;
    line-height: 30px;
    margin: -15px 0 0 0;
    text-transform: uppercase;
    font-family: Roboto Condensed;
    right: 0;
    display: block;
    width: 100%;
    text-align: center;
    color: #FFF;
    transition: all ease-in-out .4s;
    -moz-transition: all ease-in-out .4s;
    -ms-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    -webkit-transition: all ease-in-out .4s;
    transform: scale(3,3);
    -moz-transform: scale(3,3);
    -ms-transform: scale(3,3);
    -o-transform: scale(3,3);
    -webkit-transform: scale(3,3);
    opacity: 0;
    text-shadow: 3px 3px 3px #000;
}
.p-item .pthumb h3 a { color: #fff }
.p-item .pthumb:hover h3 {
    transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    opacity: 1;
}
.p-item .pthumb img { width: 100% }
.p-item .pthumb .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0);
    z-index: 9;
    transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
}
.p-item .pthumb:hover .mask { background: rgba(0,0,0,.8) }
.p-item .pthumb .mask .glass {
    background: rgba(255, 255, 255,.1);
    width: 80%;
    height: 220%;
    left: -120%;
    top: -90%;
    display: inline-block;
    position: absolute;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
.p-item .pthumb:hover .mask .glass { left: -50% }
.p-item .pthumb .mask i {
    width: 50px;
    height: 50px;
    display: inline-block;
    color: #FFF;
    font-size: 16px;
    background-color: rgba(255, 255, 255,.1);
    border: 1px solid rgba(255, 255, 255,.2);
    border-radius: 3px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    bottom: -60px;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -ms-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    z-index: 10;
}
.p-item .pthumb .mask i:hover {
    background: #7E7171;
    color: #fff;
}
.p-item .pthumb .mask .zoom { right: 60px }
.p-item .pthumb .mask .info { right: 65px }
.p-item .pthumb:hover .mask .zoom { bottom: 10px }
.p-item .pthumb:hover .mask .info {
    bottom: 10px;
    transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -moz-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -ms-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
.p-item .pthumb img {
    transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out 1s;
    -ms-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
    -webkit-transition: all ease-in-out 1s;
    position: relative;
    z-index: 8;
    float: left;
}
.p-item .pthumb:hover img {
    transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
}
.p-item .pthumb:hover .single-gallery img {
    transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
}
.p-item .port-meta {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-top: none;
    text-align: left;
    border-radius: 0 0 3px 3px;
    display: block;
    position: relative;
    background: #FFF;
}
.p-item .port-meta .triangle {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    z-index: 99;
}
.p-item .port-meta h3 {
    margin: 0;
    display: block;
    padding: 5px 0;
    line-height: 20px;
    font-size: 18px;
}
.p-item .port-meta .cat {
    padding: 5px 0;
    display: inline-block;
}
.p-item .port-meta p { display: block }

/*==========================================================
    3. GALLERY STYLE
==========================================================*/
/* Galery Carousel  */
.g-carousel .item { margin: 0 2px }
.g-carousel.two-row .item .p-item { margin-bottom: 4px }
.g-carousel.two-row .item .p-item:last-child { margin-bottom: 0 }
.g-carousel.no-space .item,
.g-carousel.no-space .item .p-item:first-child { margin: 0 }
.g-carousel .pthumb { border-radius: 0 }
.g-carousel .pthumb .mask h3 { font-size: 14px }
.g-carousel .pthumb .mask i.view {
    top: -20%;
    left: 50%;
    margin: -25px 0 0 -25px;
}
.g-carousel .pthumb .mask:hover i.view { top: 50% }
.g-carousel.owl-theme { overflow: hidden }
.g-carousel.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    z-index: 41;
    height: 100%;
    top: 5px;
    border-radius: 0;
    background: rgba(0,0,0,.8);
    color: #fff;
    opacity: 0;
    transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
}
.g-carousel.owl-theme .owl-controls .owl-buttons div:hover { background-color: #7E7171 }
.g-carousel.owl-theme .owl-controls .owl-buttons div i {
    font-size: 30px;
    position: relative;
    top: 48%;
    margin-top: -50px;
    display: inline-block;
    width: 30px;
    height: 30px;
}
.g-carousel.owl-theme .owl-controls .owl-buttons .owl-prev { left: -50px }
.g-carousel.owl-theme .owl-controls .owl-buttons .owl-next { right: -50px }
.g-carousel.owl-theme:hover .owl-controls .owl-buttons .owl-prev {
    left: -5px;
    opacity: 1;
}
.g-carousel.owl-theme:hover .owl-controls .owl-buttons .owl-next {
    right: -5px;
    opacity: 1;
}