@import url(./css/owl.theme.css);
@import url(./css/owl.carousel.css);
@import url(./css/owl.transitions.css);




/*==========================================================
    5. PORTFOLIO STYLES
==========================================================*/
/* Portfolio wrap*/
.port-wrap {
    padding: 0;
    margin: 0;
    max-width: 1170px;
    margin: 0 auto;
    transition: all ease-in-out .6s;
    -moz-transition: all ease-in-out .6s;
    -ms-transition: all ease-in-out .6s;
    -o-transition: all ease-in-out .6s;
    -webkit-transition: all ease-in-out .6s;
}
/* clear fix */
.port-wrap:after {
    content: '';
    display: block;
    clear: both;
}
/* ---- .port-item ---- */
.port-item {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    width: 25%;
}
.port-item > * {
    margin: 0;
    padding: 0;
}
/* portfolio item style */
.p-item {
    width: 100%;
    height: 100%;
}
.p-item .pthumb {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 3px 3px 0 0;
}
.p-item .pthumb h3 {
    position: absolute;
    top: 50%;
    height: 30px;
    line-height: 30px;
    margin: -15px 0 0 0;
    text-transform: uppercase;
    font-family: Roboto Condensed;
    right: 0;
    display: block;
    width: 100%;
    text-align: center;
    color: #FFF;
    transition: all ease-in-out .4s;
    -moz-transition: all ease-in-out .4s;
    -ms-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    -webkit-transition: all ease-in-out .4s;
    transform: scale(3,3);
    -moz-transform: scale(3,3);
    -ms-transform: scale(3,3);
    -o-transform: scale(3,3);
    -webkit-transform: scale(3,3);
    opacity: 0;
    text-shadow: 3px 3px 3px #000;
}
.p-item .pthumb h3 a { color: #fff }
.p-item .pthumb:hover h3 {
    transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    opacity: 1;
}
.p-item .pthumb img { width: 100% }
.p-item .pthumb .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0);
    z-index: 9;
    transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
}
.p-item .pthumb:hover .mask { background: rgba(0,0,0,.8) }
.p-item .pthumb .mask .glass {
    background: rgba(255, 255, 255,.1);
    width: 80%;
    height: 220%;
    left: -120%;
    top: -90%;
    display: inline-block;
    position: absolute;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
.p-item .pthumb:hover .mask .glass { left: -50% }
.p-item .pthumb .mask i {
    width: 50px;
    height: 50px;
    display: inline-block;
    color: #FFF;
    font-size: 16px;
    background-color: rgba(255, 255, 255,.1);
    border: 1px solid rgba(255, 255, 255,.2);
    border-radius: 3px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    bottom: -60px;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -ms-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    z-index: 10;
}
.p-item .pthumb .mask i:hover {
    background: #7E7171;
    color: #fff;
}
.p-item .pthumb .mask .zoom { right: 60px }
.p-item .pthumb .mask .info { right: 65px }
.p-item .pthumb:hover .mask .zoom { bottom: 10px }
.p-item .pthumb:hover .mask .info {
    bottom: 10px;
    transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -moz-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -ms-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
.p-item .pthumb img {
    transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out 1s;
    -ms-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
    -webkit-transition: all ease-in-out 1s;
    position: relative;
    z-index: 8;
    float: left;
}
.p-item .pthumb:hover img {
    transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
}
.p-item .pthumb:hover .single-gallery img {
    transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
}
.p-item .port-meta {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-top: none;
    text-align: left;
    border-radius: 0 0 3px 3px;
    display: block;
    position: relative;
    background: #FFF;
}
.p-item .port-meta .triangle {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    z-index: 99;
}
.p-item .port-meta h3 {
    margin: 0;
    display: block;
    padding: 5px 0;
    line-height: 20px;
    font-size: 18px;
}
.p-item .port-meta .cat {
    padding: 5px 0;
    display: inline-block;
}
.p-item .port-meta p { display: block }

/*==========================================================
    7. GALLERY STYLE
==========================================================*/
/* Galery Carousel  */
.g-carousel .item { margin: 0 2px }
.g-carousel.two-row .item .p-item { margin-bottom: 4px }
.g-carousel.two-row .item .p-item:last-child { margin-bottom: 0 }
.g-carousel.no-space .item,
.g-carousel.no-space .item .p-item:first-child { margin: 0 }
.g-carousel .pthumb { border-radius: 0 }
.g-carousel .pthumb .mask h3 { font-size: 14px }
.g-carousel .pthumb .mask i.view {
    top: -20%;
    left: 50%;
    margin: -25px 0 0 -25px;
}
.g-carousel .pthumb .mask:hover i.view { top: 50% }
.g-carousel.owl-theme { overflow: hidden }
.g-carousel.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    z-index: 41;
    height: 100%;
    top: 5px;
    border-radius: 0;
    background: rgba(0,0,0,.8);
    color: #fff;
    opacity: 0;
    transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
}
.g-carousel.owl-theme .owl-controls .owl-buttons div:hover { background-color: #7E7171 }
.g-carousel.owl-theme .owl-controls .owl-buttons div i {
    font-size: 30px;
    position: relative;
    top: 48%;
    margin-top: -50px;
    display: inline-block;
    width: 30px;
    height: 30px;
}
.g-carousel.owl-theme .owl-controls .owl-buttons .owl-prev { left: -50px }
.g-carousel.owl-theme .owl-controls .owl-buttons .owl-next { right: -50px }
.g-carousel.owl-theme:hover .owl-controls .owl-buttons .owl-prev {
    left: -5px;
    opacity: 1;
}
.g-carousel.owl-theme:hover .owl-controls .owl-buttons .owl-next {
    right: -5px;
    opacity: 1;
}